.control__title{
    font-size: var(--fs-lr);
    text-align: center;
    padding: .5rem;
    margin: 1rem;
    color: rgb(var(--primary-clr));
}

.company-controls{
    width: 80vw;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(0 0 0 / .12);
}

.company__control{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    margin: 2rem;
}

.company__control div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.control__img{
    display: block;
    width: 80%;
    height: 70%;
    object-fit: contain;
    object-position: center;
    margin: 1.5rem auto;
}

.control__link{
    min-width: 220px;
    height: 80px;
    padding: .5em 1.5em;
    text-decoration: none;
    background-color: var(--btn-dark-bg);
    color: white;
    font-size: var(--fs-md);
    margin: .5rem auto;
    border: 1px solid rgb(0 0 0 / .12);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control__link:hover{
    background-color: var(--btn-light-bg);
    color: black;
}

@media (max-width: 1024px) {
    .control__title {
        font-size: var(--fs-md);
        margin: 1rem;
    }
}

@media (max-width: 768px) {

    .control__title {
        font-size: var(--fs-sm);
    }

    .company-controls {
        flex-direction: column;
    }

}