.header{
    width: 100vw;
    height: 87px;
    /* background-color: rgb(var(--dark-clr)); */
    background-color: rgb(var(--light-clr));
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo{
    margin: 1rem 1.5rem;
    word-spacing: 1px;
    letter-spacing: 5px;
    font-size: var(--fs-md-2);
    color: rgb(var(--primary-clr));
    cursor: pointer;
    text-decoration: none;
}

.user{
    margin-left: auto;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}

.user__cart{
    margin: 0px 30px;
    transition: 0.3s;
}

.user__cart:hover{
    scale: 1.1;
}

.user__account{
    margin-right: 20px;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.user__account:hover{
    scale: 1.1;
}

.user__account__circle{
    font-size: 45px !important;
}

.user__account__arrow{
    font-size: 40px !important;
    transition: all 350ms;
}

.rotate-arrow{
    transform: rotate(180deg);
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 30px;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 350ms ease-in-out;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background-color: rgb(var(--light-clr));
    padding: 1.3rem;
    margin: .8rem;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info__username{
    font-weight: 500;
    text-transform: capitalize;
}

.user-info__img{
    width: 60px;
    border-radius: 50px;
    margin-right: 1rem;
}

.sub-menu__divider{
    border: 0px;
    height: 1px;
    width: 100%;
    background-color: rgb(var(--dark-clr));
    margin: 1rem 0 .8rem;
}

.sub-menu__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(var(--dark-clr));
    margin: .8rem 0;
    /* transition: transform .5s; */
}

.sub-menu__link__img{
    width: 2.5rem;
}

.sub-menu__link:hover {
    transform: translateX(5px);
    font-weight: 600;
}

@media (max-width: 1024px) {
    .logo {
        font-size: var(--fs-md);
        margin: 1rem;
    }
}

@media (max-width: 768px) {
    .logo {
        /* font-size: var(--fs-sm); */
        margin: .5rem 1rem;
        letter-spacing: 3px;
    }

}

@media (max-width: 640px) {
    .user__cart {
        width: 30px;
        margin: 0 15px;
        /* margin-right: 15px; */
    }

    .user__account {
        display: flex;
        margin-left: 0px;
    }

    .user__account__circle {
        font-size: 30px !important;
    }

    .user__account__arrow{
        display: inline-block;
        font-size: 30px !important;
    }
}