.register-container{
    background-color: var(--light-bg);
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-wrap{
    width: 800px;
    height: 300px;
    background-color: rgb(var(--light-clr));
}

.register__title{
    font-size: var(--fs-md-2);
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(var(--dark-clr));
    margin: 2rem 1.5rem;
    /* text-decoration: underline; */
}

.register__links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register{
    width: 200px;
    height: 60px;
    margin: 1.5rem .5rem;
    border: 1px solid rgb(var(--dark-clr));
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.register--user{
    background-color: var(--btn-light-bg);
    color: black;
}

.register--user:hover{
    color: white;
    background-color: var(--btn-dark-bg);
}

.register--company{
    color: white;
    background-color: var(--btn-dark-bg);
}

.register--company:hover{
    background-color: var(--btn-light-bg);
    color: black;
}

@media (max-width: 1024px) { 
    .register-wrap {
        width: 80%;
        margin-left:  auto;
        margin-right:  auto;
    }
}

@media (max-width: 768px) { 
    .register-wrap {
        min-height: 350px;
    }
}

@media (max-width: 640px) { 
    .register__title {
        font-size: var(--fs-md);
    }

    .register__links {
        flex-direction: column;
    }

    .register {
        width: 70%;
    }
}