.stock-change{
    width: 100vw;
    height: 80vh;
    border: 1px solid rgb(0 0 0 / .12);
    /* background-color: rgb(var(--light-clr));     */
}

.stock__table{
    margin: 2rem auto;
    border-collapse: collapse;
    min-height: 80%;
    min-width: 80%;
}

.stock__table *{
    border: 1px solid rgb(0 0 0 / .12);
}

.stock__table caption{
    font-size: var(--fs-md);
    padding: .5em;
    background-color: rgb(var(--primary-clr) / .5);
}

th, td{
    text-align: center;
    padding: .5rem;
    background-color: rgb(var(--light-clr));
}

.request-btn{
    min-width: 80%;
    min-height: 80%;
    margin: 0 auto;
    border: none;
}

.request-btn input{
    font-size: var(--fs-sm);
    padding: .5em 1.5em;
    border-radius: 5px;
    background-color: var(--btn-dark-bg);
    color: white;
}

.request-btn input:hover{
    background-color: var(--btn-light-bg);
    color: black;
}